* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border-style: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*    grid-row: auto;*/
    grid-gap: 10px;
    grid-auto-flow: unset;
}

.container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.xx {
    grid-column: span 2;

}

.xxccc {
    grid-column: span 2;
    grid-row: span 3;

}

.xxx {
    grid-column: span 3;

}

.xxxx {
    grid-column: span 4;

}

.titl {
    grid-column: span 4;
    padding-left: 20px;
    padding-top: 8px;
    padding-right: 20px;
}

.stamps {
    /*    grid-column: span 2;*/
}

@media screen and (max-width: 36rem) {
    /*
    .container div {
        grid-row: auto;
    }
*/

    .container {
        grid-gap: 0px;
    }

    .stamps {
        grid-column: span 2;
    }

    #xtra {
        grid-column: span 4;
    }

    #spac {
        grid-row: span0;
    }
}


/**************
Cary Formatting
***************/

#mockup {
    max-height: 395px;
    overflow: hidden;
}


p1 {
    line-height: 135%;
}


#mockup1 img {
    max-height: 600px;
    object-fit: contain;
}

#caryO {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

#wireframesC {
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 50px
}

#compsB {

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: auto;
    grid-gap: 50px
}

.webC {
    grid-column: span 2;
    grid-row: span 2;
}

#mobileC1 {
    grid-column: span 1;
    grid-row: span 2;
}

@media screen and (max-width: 36rem) {
    #compsB {
        grid-gap: 10px;
    }

    .webC {
        grid-column: span 4;
        grid-row: span 4;

    }

    #mobileC {
        grid-column: span 2;
        grid-row: span 2;
    }

    #mobileC1 {
        grid-column: span 2;
        grid-row: span 3;
        object-fit: cover;
    }

}
