/************************
General Formatting Rules
************************/

/* Code adapted from week 6 Flexbox exercise */

* {
    box-sizing: border-box;
}

html {
    /* set base font-size for document; will be used for rem calculations */
    font-size: 16px;

    /* Gotham Font from freefontsfamily.com */
    /*
    @font-face {
        font-family: 'Gotham';
        src: url('assets/Gotham-Font/Gotham-Black') format ('opentype');
        font-weight: normal;
        font-style: Black;
    }
*/

    font-family: 'Roboto', sans-serif;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    color: darkseagreen;
}


html,
body,
#wrapper {
    /* resets margins to prevent sizing issues */
    margin: 0;

}

/*****************
Flexbox Formatting
*****************/

#wrapper {
    /* centers container in viewport */
    margin: 0 auto;
    max-width: 957px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

}

main {

    /* formatting for visual clarity */
    display: flex;
    flex-direction: column;
}

header,
footer {

    /* formatting for visual clarity */

    padding: 0 .5rem;
    padding-top: 10px;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

footer {
    padding-top: 30px;

}

article,
aside {

    padding: .5rem;
    /* allows elements to grow to available space */
    margin: .2rem 0;
    /* removes l/r margin spacing */
    flex: 1;
    max-width: 480px;
    overflow: hidden;
    max-height: 300px;
}

aside {
    display: flex;
    flex-direction: column;

    flex: 1;
    justify-content: flex-end;
    padding-bottom: 35px;

}

#nav2 {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;

}



article {
    overflow: hidden;
    max-height: 242px;
    overflow: hidden;

}



article img {
    max-height: 242;
    width: 100%;
}


#item {
    display: flex;
    margin-bottom: auto;
}

#sitem {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: auto;
}

#shortbio {
    max-width: 410px;
}

#shortbio {
    max-width: 410px;
}

#shortb {

    padding: 8px;
}

/*
#shortbb {
  padding: 0 15px 0 15px;
    max-width: 600px;
}
*/

#illus img {
    transform: translateY(-60px);
}

/***************
Text Formatting
***************/
/*The Name*/
h1 {
    font-size: 36px;
}

/* The Title*/
h2 {
    font-weight: 300;
    font-size: 16px;
    margin: 0;
}

p {
    font-size: 24px;
}

nav {
    font-size: 24px;
}

h4 {
    font-size: 14px;
    font-weight: 100;
}

h5 {
    font-size: 24px;
    font-weight: 100;
    margin: 0;
}

h6 {
    font-weight: normal;
    font-size: 1.7vw;
    margin: 0;
    line-height: 1.3
}

#projecttitle {
    font-weight: 500;
    font-size: calc(12px + 2.5vw);
}

#specialty {
    font-weight: 200;
    font-size: 15px;
    display: flex;
    justify-content: center;

}

/****************************
Drop Down Menu From w3Schools
*****************************/
.dropbtn {
    background-color: black;
    background-color: black;
    padding-top: 25px;
    padding-right: 97px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 92px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/************
Media Queries
*************/

@media screen and (max-width: 36rem) {
    main {
        flex-direction: column;
        width: 100vw;
    }

    #item {
        flex-direction: column;
        width: 100vw;
    }

    #specialty {

        font-size: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 70%;
        height: 23px;
    }

    h6 {
        font-size: 10px;
    }

    aside {
        padding-bottom: 20px;
        padding-left: 20px;
    }

    h1 {
        font-size: 24px;
    }

    h4 {
        font-size: 12px;
    }

    footer {
        padding-bottom: 15px;
    }

}

/* Max Size*/
@media screen and (min-width: 900px) {
    h6 {
        font-size: 18px;
    }

    #projecttitle {
        font-size: 36px;
    }

    #sizing {
        padding: 50px;

    }

}


@media screen and (max-width: 576px) {
    article {
        flex: 1;
        max-width: 100%;
    }

    /*    adjust image*/
    #illus img {
        transform: translateY(-60px);
    }
}



.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

#hero {
    display: flex;
}

#hero img {
    width: 100%;
}
#hero video {
    width: 100%;
}

#spacer {
    height: calc(6px + 3.5vw);
}

#posters {
    width: 100%;
    max-height: 940px;
    padding-right: 20px;
}

article h4{
    margin: 0;
}
