*{
    box-sizing: border-box;
}

body{
     text-align:center;
    font-size: 16px;
    font-family: Barrio, Roboto, Heletica;
}

h1{
    padding-top: 80px;
    padding-bottom: 10px;
    color: lightslategray;
    font-size: 2.7em;
}

img{
    width:100%;
    max-width: 300px;
    height:100%;
}
